.logInBox {
    position: fixed;        /* fixes position relative to viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;          /* sits above everything else */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 40vw;
    opacity: 1;
    transition: opacity 0.4s ease;
    pointer-events: auto;
}

#createAccountBox {
    opacity: 0;
    pointer-events: none;
}

#staffBox {
    opacity: 0;
    pointer-events: none;
}

.logInBox input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: .75em;
}
.signInBtn {
    width: 60%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #99001c;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 15px;
}   

.switchBtn {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: white;
    font-size: .75em;
    cursor: pointer;
}


#logoBig{
    position: relative;
    aspect-ratio: 2/1;
    height: 7vh;
    margin: 0 auto;
    transform: translate(-14vh);
}

 .mainBody {
    position: relative;
    Justify-content: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 3%;
    height: 65vh;
}