
.logInBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 40vw;
    opacity: 1;
    transition: opacity 0.4s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

#createAccountBox {
    opacity: 0;
    pointer-events: none;
}

#staffBox {
    opacity: 0;
    pointer-events: none;
}

.logInBox input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
}
.signInBtn {
    width: 60%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #99001c;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 10px;
}   

.switchBtn {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: white;
    font-size: 1em;
    cursor: pointer;
}
