/*body {
    font-style: Helvetica;
}
*/

html, body{
    margin: 0;
    padding: 0;
    background: #f3f3f3;
}
.topBar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100% fit-content;
    /*background-color: #99001c;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2vw;
    z-index: 999999999;
    box-sizing: border-box;
    background: #000;
    /*background: #db0032;*/
}

/*Search Bar*/
.searchBar {
    display: flex;
    position: relative;
    flex: 1;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 12px;
    border: none;
    outline: none;
    min-width: 120px;
    max-width: 80%;
    height: 3vw;
}

#tigerIcon {
    aspect-ratio: 1 / 1;
    object-fit: contain;
    cursor: pointer;
    position: relative;
    display: flex;
    margin-left: 1rem;
    width: 4.5vw;
    left: 0vh;
    max-width: none;
    min-width: 30px;
    z-index: 999999999999;
   
}

/*Filter*/
#filterIcon {
    position: relative;
    display: flex;
    margin: auto;
    padding: 0px;
    aspect-ratio: 1/1;
    width: 3.75vw;
    cursor: pointer;
    border: none;
    z-index: 999999999999;
    max-width: none;
    min-width: 30px;
    background-color: transparent;
    border-radius: 12px;
    border: #000 solid 0px;
    filter: invert(100%);
}

#filterOverlay {
    display: none;
    width: 90%;
    height: auto;
    background-color: floralwhite;
    position: absolute;
    right: 5px;
    top: 105%;
    border-radius: 12px;
    border-color: #99001c;
    border-width: .5rem;
    border-style: solid;
    padding: .75rem;
    box-sizing: border-box;
    z-index: 10;
    max-width: 500px;
    min-width: 200px;
    overflow-wrap: anywhere;
}

.filter-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .8rem;
}

.filter-catagory {
    background: floralwhite;
    padding: .6rem;
    border-radius: .6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-catagory h3 {
    margin-top: 0;
    font-size: 1.75em;
}

.filterBox {
    aspect-ratio: 1/1;
    width: 1em;
    margin-right: 5px;
}

.filter-catagory label {
    font-size: 1.25em;
    padding-bottom: 5px;
}



/*Main Body*/
.mainBody {
    display: absolute;
    Justify-content: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 3%;
    
}

.mainBody {
    font-size: larger;
}

.blurred {
    filter: blur(5px);
}

#quizDiv {
    background-color: #b7bfcc;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: #373737;
}

.topImage {
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    height: 20vw;
    margin-bottom: 20px;
}


/*color schemme data*/
#Red1 {
    color: #ea0029;
}

#Red2 {
    color: #99001c;
}

#Red3 {
    color: #db0032;
}

#Blue1 {
    color: #002f87;
}

#Blue2 {
    color: #1a6aff;
}

#Grey {
    color: #cccccc;
}

#darkGrey {
    color: #373737
}

#florWhite {
    color: #FFFAF0;
}

#White {
    color: #F2F3F4
}

/* Dropdown Menu */
a:active, a:focus, a:hover, a:visited, a:link{
    color: black;
    text-decoration: none;
}
@media (min-width: 876px){
    #menuText{
        display: none;
    }
}

#dropDownButton {
    display: flex;
    position: relative;
    height: 4vw;
    aspect-ratio: 2/1;
    width: auto;
    cursor: pointer;
    background-color: white;
    border: #000 solid 1px;
    border-radius: 8px;
    align-items: center;
    padding: 1.5vh;
    font-size: 3vh;
}

@media (max-width: 600px) {
    #dropDownButton {
        font-size: 0px;
    }
}

#dropDownImage {
    width: 4vh;
    height: 4vh;
    aspect-ratio: 1/1;
}

.dropDownMenu {
    display: none;
    position: absolute;
    top: 12vh;
    width: auto;
    height: auto;
    background: white;
    border: 1.5px solid #99001c;
    border-radius: 8px;
    z-index: 1000;
    padding: 1vh;
}

.dropDownList {
    position: relative;
    display: grid;
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    background: white;
    padding: 0;
}

.dropDownList li {
    position: relative;
    list-style: none;
    border: #99001c solid 1.5px;
    border-radius: 8px;
    padding: 2vh;
    margin: 1vh;
    text-decoration: none;
    font-size: 2vh;
    flex-direction: column;
    transition: transform 0.25s ease-in-out;
}

.dropDownList li:hover {
    transform: scale(1.025);
}

.aboutTabs{
    border-radius: 20px;
    border-color: #bb4a60;
    background-color: #f3efef;
    border-width: 5px;
    border-style: solid;
    width: 25vw;
    display: grid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6vw;
    
}
#aboutSec{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}



/* Big Buttons */
.bigButtons {
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 85%;
}

.bigButtons #surveyButton {
    width: 100%;
    height: 10%;
    text-decoration: none;
    border: 2px black;
    border-radius: 12px;
}

#surveyButton button {
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2.5vw;
    color: #fff;
    background: #db0032;
    cursor: pointer;
    border-radius: 12px;
}
.bigButtons .inlineButtons {
    display: flex;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.5%;
    width: 100%;
}
 .inlineButtons #clubListButton {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: left;
    text-decoration: none;
    border: 2px black;
    margin-right: 0.5%;
    border-radius: 12px;
}

#clubListButton button {
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2.5vw;
    color: #fff;
    background: #db0032;
    cursor: pointer;
    border-radius: 12px;
}

.bigButtons .inlineButtons #favoritesButton {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: right;
    text-decoration: none;
    border: 2px black;
    border-radius: 12px;
}

#favoritesButton button {
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2.5vw;
    color: #fff;
    background: #db0032;
    cursor: pointer;
    border-radius: 12px;
}

#clubsBody {
    margin-top: 15vh;
    z-index: 0;
}

@media (max-width: 600px) {

    #aboutSec {
        display: block;
    }
    .aboutTabs {
        font-size: 3vw; 
        width: 80vw;
        margin-bottom: 10px;
    }
    .bigButtons {
        width: 100%;
        display: block;
        margin: auto;
    }
    #surveyButton button,
    #clubListButton button,
    #favoritesButton button {
        padding: 4vw;
        width: 100%;
        font-size: 6vw;
    }
    .inlineButtons {
        flex-direction: column;
    }
    .bigButtons .inlineButtons #favoritesButton{
        margin-top: .5%;
    }
}
/* Club Notifications */

/* Grid container for club boxes */
.divContainer {
  background: #f3efef;
  padding: 10px;
  border-radius: 20px;
  margin: 20px auto;
  position: relative;
  border: 4px solid #bb4a60;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  width: 100%;
  min-width: fit-content;
  align-self: center;
}

/* Notifications Title */
#notificationsTitle {
    display: block;
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    margin: auto;
    text-align: center;
    cursor: pointer;
    padding: 10px;
}

.notificationContainer {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 24px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* Individual club box styling */
.notificationContainer li {
  background-color: #ffffff;
  color: black;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 20px ;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 15px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 3px solid #bb4a60;
  cursor: pointer;
}

.notificationContainer li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}