/*body {
    font-style: Helvetica;
}
*/

html, body{
    margin: 0;
    padding: 0;
}
.topBar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    /*background-color: #99001c;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2vw;
    z-index: 999999999;
    box-sizing: border-box;
    background: #000;
    /*background: #db0032;*/
}

/*Search Bar*/
.searchBar {
    display: flex;
    position: relative;
    flex: 1;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 12px;
    border: none;
    outline: none;
    min-width: 200px;
    max-width: 80%;
    height: 3vw;
}

#tigerIcon {
    aspect-ratio: 1 / 1;
    object-fit: contain;
    cursor: pointer;
    position: relative;
    display: flex;
    margin-left: 3vh;
    margin-right: 1.5vh;
    width: 4.5vw;
    left: 0vh;
    max-width: none;
    min-width: 50px;
    z-index: 999999999999;
   
}

/*Filter*/
#filterIcon {
    position: relative;
    display: flex;
    margin: auto;
    padding: 4px;
    aspect-ratio: 1/1;
    width: 3.75vw;
    cursor: pointer;
    border: none;
    z-index: 999999999999;
    max-width: none;
    min-width: 40px;
    background-color: transparent;
    border-radius: 12px;
    border: #000 solid 0px;
    margin-left: 5px;
    filter: invert(100%);
}

#filterOverlay {
    display: none;
    width: 90%;
    height: auto;
    background-color: floralwhite;
    position: absolute;
    right: 5px;
    top: 105%;
    border-radius: .5rem;
    border-color: #99001c;
    border-width: .5rem;
    border-style: solid;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 10;
    max-width: 500px;
    min-width: 200px;
    overflow-wrap: break-word;
}

.filter-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .8rem;
}

.filter-catagory {
    background: floralwhite;
    padding: .6rem;
    border-radius: .6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-catagory h3 {
    margin-top: 0;
    font-size: 1.75em;
}

.filterBox {
    aspect-ratio: 1/1;
    width: 1em;
    margin-right: 5px;
}

.filter-catagory label {
    font-size: 1.5em;
    padding-bottom: 5px;
}



/*Main Body*/
.mainBody {
    display: absolute;
    Justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 7%;
}

.mainBody {
    font-size: larger;
}

.blurred {
    filter: blur(5px);
}

#quizDiv {
    background-color: #b7bfcc;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: #373737;
}

.topImage {
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    height: 20vw;
    margin-bottom: 20px;
}


/*color schemme data*/
#Red1 {
    color: #ea0029;
}

#Red2 {
    color: #99001c;
}

#Red3 {
    color: #db0032;
}

#Blue1 {
    color: #002f87;
}

#Blue2 {
    color: #1a6aff;
}

#Grey {
    color: #cccccc;
}

#darkGrey {
    color: #373737
}

#florWhite {
    color: #FFFAF0;
}

#White {
    color: #F2F3F4
}

/* Dropdown Menu */
a:active, a:focus, a:hover, a:visited, a:link{
    color: black;
    text-decoration: none;
}

#dropDownButton {
    display: flex;
    position: relative;
    width: auto;
    height: 4vw;
    cursor: pointer;
    background-color: white;
    border: #000 solid 1px;
    border-radius: 8px;
    align-items: center;
    padding: 1.5vh;
    font-size: 2.5vh;
}

#dropDownImage {
    width: 4vh;
    height: 4vh;
    aspect-ratio: 1/1;
}

.dropDownMenu {
    display: none;
    position: absolute;
    top: 12vh;
    width: auto;
    height: auto;
    background: white;
    border: 1.5px solid #99001c;
    border-radius: 8px;
    z-index: 1000;
    padding: 1vh;
}

.dropDownList {
    position: relative;
    display: grid;
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    background: white;
    padding: 0;
}

.dropDownList li {
    position: relative;
    list-style: none;
    border: #99001c solid 1.5px;
    border-radius: 8px;
    padding: 2vh;
    margin: 1vh;
    text-decoration: none;
    font-size: 2vh;
    flex-direction: column;
}
.aboutTabs{
    border-radius: 20px;
    border-color: #bb4a60;
    background-color: #f3efef;
    border-width: 5px;
    border-style: solid;
    width: 25vw;
    display: grid;
}
#aboutSec{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Big Buttons */
.bigButtons {
    display: relative;
    text-align: center;
    margin: 0 auto;
    width: 85%;
    /*padding-top: 30%;*/
}

.bigButtons #surveyButton {
    display: block;
    width: 100%;
    height: 10%;
    text-decoration: none;
    border: 2px black;
    border-radius: 12px;
}

#surveyButton button {
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2.5vw;
    color: #fff;
    background: #db0032;
    cursor: pointer;
    border-radius: 12px;
}

.bigButtons .inlineButtons {
    display: flex;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.5%;
    width: 100%;
}

.bigButtons .inlineButtons #clubListButton {
    display: flex;
    width: 50%;
    height: 10%;
    justify-content: left;
    text-decoration: none;
    border: 2px black;
    margin-right: 0.5%;
    border-radius: 12px;
}

#clubListButton button {
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2.5vw;
    color: #fff;
    background: #db0032;
    cursor: pointer;
    border-radius: 12px;
}

.bigButtons .inlineButtons #favoritesButton {
    display: flex;
    width: 50%;
    height: 10%;
    justify-content: right;
    text-decoration: none;
    border: 2px black;
    border-radius: 12px;
}

#favoritesButton button {
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2.5vw;
    color: #fff;
    background: #db0032;
    cursor: pointer;
    border-radius: 12px;
}

/* Login */
#loginButton Button {
    display: block;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 4vw;
    color: #fff;
    background: #db0032;
    cursor: pointer;
    border-radius: 12px;
}

#logoutButton Button {
    display: none;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 4vw;
    color: #fff;
    background: #db0032;
    cursor: pointer;
    border-radius: 12px;
    text-decoration: none;
}

#clubsBody {
    margin-top: 15vh;
    z-index: 0;
}