
body {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 10;
  background: white;
  margin-top: 100px;
}


/* Grid container for club boxes */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  background:  #db0032;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  position: relative;
  border: 1px solid black;
}


/* Individual club box styling */
.container li {
  background-color: white;
  color: black;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 15px;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 15px;
  text-align: center;
}
/* Club title styling */
#clubTitle {
  display: flex;
  justify-content: center;
  font-size: 50pt;
  font-style: helvetica;
}
/* Club name font size styling */
.clubBoxesFontSize {

  font-size: clamp(16px, 4vw, 18px);

}
/* Club email styling */
.clubBoxesEmailSize {
  font-size: clamp(12px, 3vw, 16px);
}
/* Favorite button styling */
.favorite-btn {
  display: flex;
  position: right;
  top: 5px;
  right: 10px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: 30px;
}

/* Favorited state styling */
.favorite-btn.favorited {
  color: gold;
}






#popup-box {
  display: none;
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  max-width: 400px;
  text-align: center;
}

#popup-box button {
  margin-top: 10px;
  padding: 5px 15px;
  border: none;
  border-radius: 8px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}
/* Overlay background */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}


.hidden {
  display: none;
}

/* desc box */
.overlay-content {
  background: white;
  color: #333;
  padding: 30px;
  border-radius: 15px;
  width: 80%;
  max-width: 700px;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  position: relative;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  color: #333;
}
.clubForm {
  position: Left;
  font-size: 30px;
  
}
.btn {
  background-color: white;
  border: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
