body {
    font-style: Helvetica;
}

.topBar {
    position: fixed;
    background-color: #002f87;
    top: 0vh;
    width: 100%;
    left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 9999999999;
}

/*Search Bar*/
.searchBar {
    width: 75%;
    height: 75%;
    position: relative;
    font-size: 1.4rem;
    left: 6vw;
    padding: 8px;
    border-radius: 12px;
    top: -2vh;
    margin: auto;
}

#tigerIcon {
    position: relative;
    display: flex;
    margin: auto;
    top: 90%;
    height: 5%;
    left: 12vh;
}

/*Filter*/
#filterIcon {
    position: relative;
    top: 2vh;
    left: 94.5vw;
    margin: auto;
    padding: 8px;
    aspect-ratio: 1/1;
    width: 3vw;
    cursor: pointer;
    border: none;
}

#filterOverlay {
    display: none;
    width: 30%;
    height: auto;
    background-color: floralwhite;
    position: absolute;
    left: 70%;
    top: 10%;
    border-radius: 20px;
    border-color: #99001c;
    border-width: 5px;
    border-style: solid;
    padding: 10px;
    box-sizing: border-box;
    z-index: 10;
}

.filter-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
}

.filter-catagory {
    background: floralwhite;
    padding: 6px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.filter-catagory h3 {
    margin-top: 0;
    font-size: 1.75em;
}

.filterBox {
    aspect-ratio: 1/1;
    width: 1.2vw;
    margin-right: 5px;
}

.filter-catagory label {
    font-size: 1.5em;
    padding-bottom: 5px;
}



/*Main Body*/
.mainBody {
    display: absolute;
    Justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 7%;
}

.mainBody {
    font-size: larger;
}

.blurred {
    filter: blur(5px);
}

#quizDiv {
    background-color: #b7bfcc;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: #373737;
}

.topImage {
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    height: 20vw;
    margin-bottom: 20px;
}


/*color schemme data*/
#Red1 {
    color: #ea0029;
}

#Red2 {
    color: #99001c;
}

#Red3 {
    color: #db0032;
}

#Blue1 {
    color: #002f87;
}

#Blue2 {
    color: #1a6aff;
}

#Grey {
    color: #cccccc;
}

#darkGrey {
    color: #373737
}

#florWhite {
    color: #FFFAF0;
}

#White {
    color: #F2F3F4
}

/* Dropdown Nav Bar */

#dropDownButton {
    display: flex;
    position: absolute;
    top: 1%;
    left: 1.25%;
    aspect-ratio: 1/1;
    width: 5vw;
    height: 10vh;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

nav {
    display: none;
    float: left;
    width: 5vw;
    position: absolute;
    z-index: 100;
    top: 5vw;
    left: 1%;
    font-size: 1.25vw;
}

nav ul {
    margin: 0;
    padding: 0;
    width: 6vw;
    background: transparent;
    border: 1px solid black;
    border-bottom: none;
}

nav li {
    position: relative;
    list-style: none;
}

nav ul.level1 li {
    border-bottom: 1px solid black;
}

nav ul.level2 li {
    border-bottom: 1px solid black;
}

nav ul ul {
    position: relative;
    top: 0;
    left: 6vw;
    display: none;
}

nav li a {
    display: block;
    padding: 0.25vw 0 0.25vw 0.5vw;
    text-decoration: none;
}

nav li:hover {
    background: #cccccc;
}

nav ul.level1 li.sub:hover ul.level2 {
    display: block;
    position: relative;
    z-index: 100;
}

/* Big Buttons */
.bigButtons {
    display: relative;
    text-align: center;
    margin: 0 auto;
    width: 85%;
}

.bigButtons #surveyButton {
    display: block;
    width: 100%;
    height: 10%;
    text-decoration: none;
    border: 2px black;
    border-radius: 12px;
}

#surveyButton button {
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2.5vw;
    color: #fff;
    background: #db0032;
    cursor: pointer;
    border-radius: 12px;
}

.bigButtons .inlineButtons {
    display: flex;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.5%;
    width: 100%;
}

.bigButtons .inlineButtons #clubListButton {
    display: flex;
    width: 50%;
    height: 10%;
    justify-content: left;
    text-decoration: none;
    border: 2px black;
    margin-right: 0.5%;
    border-radius: 12px;
}

#clubListButton button {
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2.5vw;
    color: #fff;
    background: #db0032;
    cursor: pointer;
    border-radius: 12px;
}

.bigButtons .inlineButtons #favoritesButton {
    display: flex;
    width: 50%;
    height: 10%;
    justify-content: right;
    text-decoration: none;
    border: 2px black;
    border-radius: 12px;
}

#favoritesButton button {
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2.5vw;
    color: #fff;
    background: #db0032;
    cursor: pointer;
    border-radius: 12px;
}

/* Login */
#loginButton Button {
    display: none;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 4vw;
    color: #fff;
    background: #db0032;
    cursor: pointer;
    border-radius: 12px;
}

#logoutButton Button {
    display: block;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 4vw;
    color: #fff;
    background: #db0032;
    cursor: pointer;
    border-radius: 12px;
    text-decoration: none;
}

#clubsBody {
    margin-top: 15vh;
    z-index: 0;
}

/*Carousel CSS (kinda broken, thanks clanker*/
/*this first part has me fucked up because I don't really understand keyframes I used a tut*/
@keyframes tonext {
    75% {
        left: 0;
    }

    95% {
        left: 100%;
    }

    98% {
        left: 100%;
    }

    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }

    95% {
        left: -300%;
    }

    98% {
        left: -300%;
    }

    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }

    97% {
        scroll-snap-align: none;
    }

    99% {
        scroll-snap-align: none;
    }

    100% {
        scroll-snap-align: center;
    }
}

/*body {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    font-family: 'Lato', sans-serif;
}
*/
* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    /* thumb and track color */
    scrollbar-width: 0px;
}

*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

* {
    -ms-overflow-style: none;
}

ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    /*width: 40vw;*/
    height: 40vh;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}

.carouselViewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carouselSlide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
}

.carouselSlide:nth-child(even) {
    background-color: #99f;
}

.carouselSlide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -40%, 70px);
    color: #fff;
    font-size: 2em;
}

.carouselSnapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

@media (hover: hover) {
    .carouselSnapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .carouselSlide:last-child .carouselSnapper {
        animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carouselSnapper {
        animation-name: none;
    }
}

.carousel:hover .carouselSnapper,
.carousel:focus-within .carouselSnapper {
    animation-name: none;
}

.carouselNavigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carouselNavigation-list,
.carouselNavigation-item {
    display: inline-block;
}

.carouselNavigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carouselPrev,
.carouselNext {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}

.carousel::before,
.carouselPrev {
    left: -1rem;
}

.carousel::after,
.carouselNext {
    right: -1rem;
}

.carousel::before,
.carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
}

.carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}