
body{
    font-style: Helvetica;
}
#body2 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100h;
      margin: 0;
      background: #ea0029;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(6, 200px);
      gap: 20px;
      background: #ddd;
      padding: 20px;
      border-radius: 20px; 
    }

    .item {
      background-color:white;
      color: white;
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px; 
      height: 100px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    
#searchBar {
    width: 85%;
    height: 5%;
    position: absolute;
    font-size: 1.2rem;
    top: 2%;
    left: 8%;
    margin: auto;
    padding: 8px;
    border-radius: 12px;
}


.mainBody {
    display: absolute;
    Justify-content: center;
}
#headBody {
    display: absolute;
}

/*color schemme data*/
#Red1{
    color: #ea0029;
}
#Red2{
    color: #99001c; 
}
#Red3{
    color: #db0032;
}
#Blue1{
    color: #002f87;
}
#Grey{
    color: #b7bfcc;
}
#florWhite{
    color: #FFFAF0;
}
#White{
    color: #F2F3F4
}

/* Dropdown Nav Bar */
nav{
    float: left;
    width: 7em;
}