
body{
    font-style: Helvetica;
}
#body2 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background: #f0f0f0;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(3, 150px);
      gap: 20px;
      background: #ddd;
      padding: 20px;
      border-radius: 20px; 
    }

    .item {
      background-color:white;
      color: white;
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px; 
      height: 100px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    
#searchBar {
    width: 85%;
    height: 5%;
    position: relative;
    font-size: 1.2rem;
    top: -225px;
    left: 5%;
    margin: auto;
    padding: 10px;
}


.mainBody {
    display: absolute;
    Justify-content: center;
}
#headBody {
    display: absolute;
}

/*color schemme data*/
#Red1{
    color: #ea0029;
}
#Red2{
    
}
#Grey{
    color: #b7bfcc;
}

/* Dropdown Nav Bar */
nav{
    float: left;
    width: 7em;
}