body {
    font-style: Helvetica;
    background: #FFFAF0;
}

    
#searchBar {
    width: 85%;
    height: 5%;
    position: absolute;
    font-size: 1.4rem;
    top: 2%;
    left: 8%;
    margin: auto;
    padding: 8px;
    border-radius: 12px;
}

.mainBody {
    display: absolute;
    Justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}
.mainBody {
    font-size:large;
}

/*color schemme data*/
#Red1 {
    color: #ea0029;
}

#Red2 {
    color: #99001c;
}

#Red3 {
    color: #db0032;
}

#Blue1 {
    color: #002f87;
}

#Blue2 {
    color: #1a6aff;
}

#Grey {
    color: #cccccc;
}

#darkGrey {
    color: #373737
}

#florWhite {
    color: #FFFAF0;
}

#White {
    color: #F2F3F4
}

/* Dropdown Nav Bar */

button {
    display: block;
    padding: none;
    cursor: pointer;
}

#myCheckbox:checked+.clickable-area+nav {
    display: block;
}

nav {
    display: none;
    float: left;
    width: 5em;
    padding: 5px;
}

nav ul {
    margin: 0;
    padding: 0;
    width: 5em;
    background: #ddd;
}

nav li {
    position: relative;
    list-style: none;
    margin: 1;
}

nav ul ul {
    position: relative;
    top: 0;
    left: 5em;
    display: none;
}

nav li a {
    display: block;
    padding: 0.25em 0 0.25em 0.5em;
    text-decoration: none;
}

nav li:hover {
    background: #b7bfcc;
}

nav ul.level1 li.sub:hover ul.level2 {
    display: block;
}

#dropDown img{
    width: 5vw;
    aspect-ratio: 1/1;
    left: 2%;
    margin: none;
    padding: none;
}